@page
@model Application2.Pages.IndexModel
@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Real-Time Chat with SignalR</title>
</head>
<body>

<div class="input-group mb-3 custom-width">
    <input type="text" class="form-control" placeholder="Type Your Message" id="message">
    <div class="input-group-append">
        <span class="input-group-text" id="sendButton">Send</span>
    </div>
</div>

<div id="output"></div>
<script>
        let connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        connection.on("ReceiveDataInApp1", function (data) {
            $("#output").append("<p>" + data + "</p>");
        });
        
        connection.on("HandleError_ReceiveDataInApp1", function (errorMessage) {
                        // Display the error message using a toast notification
                        Toastify({
                            text: errorMessage,
                            duration: 5000, // 5 seconds
                            gravity: "top", // Position on the top of the page
                            backgroundColor: "#c8102e", // Red background color
                            close: true // Show a close button
                        }).showToast();
        });
        
        connection.on("HandleError_ReceiveDataInApp2", function (errorMessage) {
                       // Display the error message using a toast notification
                       Toastify({
                           text: errorMessage,
                           duration: 5000, // 5 seconds
                           gravity: "top", // Position on the top of the page
                           backgroundColor: "#c8102e", // Red background color
                           close: true // Show a close button
                       }).showToast();
        });        
        
        function sendDataToApp2() {
            const data = document.getElementById("message").value;
            connection.invoke("SendDataToApp2", data).catch(err => console.error(err));
        }

        $("#sendButton").click(function () {
            let message = $("#message").val();
            connection.invoke("SendDataToApp2", message);
            $("#message").val("").focus();
        });

        connection.start().then(function () {
                       // Display the error message using a toast notification
                       Toastify({
                           text: "Server Connected!",
                           duration: 5000, // 5 seconds
                           gravity: "top", // Position on the top of the page
                           backgroundColor: "#05a152", // Green background color
                           close: true // Show a close button
                       }).showToast();            
        }).catch(function (err) {
                       // Display the error message using a toast notification
                       Toastify({
                           text: err.toString(),
                           duration: 5000, // 5 seconds
                           gravity: "top", // Position on the top of the page
                           backgroundColor: "#c8102e", // Red background color
                           close: true // Show a close button
                       }).showToast();
        });
    </script>
</body>
</html>